body {
	background: #fff;
	color: #1c1e21;
	direction: ltr;
	line-height: 1.34;
	margin: 0;
	padding: 0;
	unicode-bidi: embed;
	background-color: #f0f2f5;
}



.flex{
	display: flex;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
	width: 980px;
	align-items: top;
	justify-content : space-between;
}

.container{
	padding-top: 72px;
	padding-bottom: 118px;
}

.fb_image{
	padding: 112px 0 16px;
}

.fb_logo{
	height: 106px;
	margin: -28px;
}

.subtitle{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	width: 370px;
	display: inline-block;
	color: rgb(28, 30, 33);
	padding-bottom: 20px;
}

.form{
	margin: 0;
	padding: 0;
	font-family: inherit;
	text-align: center;
}

.right-side-form{
	align-items: center;
	background-color: #fff;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
	box-sizing: border-box;
	margin: 40px 0 0;
	padding: 20px 0 28px;
	width: 376px;
}

.email_password input{
	font-size: 17px;
	padding: 14px 16px;
	width: 330px;
	margin-bottom: 10px;
	border-radius: 6px;
	border: 1px solid #dddfe2;
	color: #1d2129;
	height: 44px;
}

input[type=text]:focus.input_hover,
input[type=password]:focus.input_hover {
	 border: 1px solid rgb(24, 119, 242);
	outline-color: rgba(24, 119, 242, 0.2);
	outline-offset: 2px;
}

.login_button{
	background-color: rgb(24, 119, 242);
	border: none;
	border-radius: 6px;
	font-size: 20px;
	line-height: 48px;
	padding: 0 16px;
	width: 332px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
	transition: background-color 200ms ,  box-shadow 200ms,  transform 200ms ;
	font-weight: bold;
	position: relative;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
	justify-content: center;
	margin: 0;
}

.login_button:hover{
	background-color: #0e70f0 ;  
}

.forgot_password_div{
	margin-top: 12px;
}

.forgot_password{
	color: #1877f2;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;
	font-weight: 500;
}

.button{
	border: none;
	border-radius: 6px;
	font-size: 17px;
	line-height: 48px;
	padding: 0px 16px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	background-color: #42b72a;
	color: white;
	font-weight: bold;
	margin-top: 6px;
	transition: background-color 0.15s;
}

.button:hover {
	color: white;
	background-color: #1eaa02;
}

.left-side,
.right-side{
	flex:1
}

.line_break{
	align-items: center;
	border-bottom: 1px solid #dadde1;
	display: flex;
	margin: 20px 16px;
	text-align: center;
}

.info{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 28px;
	text-align: center;
}

.create_page{
	font-weight: 600;
	color: black;
	text-decoration: none;
}

.create_page:hover{
	text-decoration: underline;
	color: black;
}